@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json
@using Umbraco.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>;


@{
    Layout = "master.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="">
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/Noutati.css">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<body>
    <div class="right-menu">
        <div class="top-icon">
            <div class="icon-circle">
                <span class="icon"><a href="../"><img src="/media/ftfn2ljm/icon-galosfera-circle.svg" alt="Galosfera" /></a></span>
            </div>            
        </div>

        <div class="icon-button">
            <span class="icon"><a href="/Contact"><img src="/media/rhhnndxi/mesaje2.svg" alt="Mesaje" /></a></span>
        </div>
        <div class="icon-button icon-albastru">
            <span class="icon"><a href="/Noutati"><img src="/media/vz4lddxh/stiri2.svg" alt="Știri" /></a></span>
        </div>
        <div class="icon-button">
            <span class="icon"><a href="/Biblioteca"><img src="/media/vaahbacz/notificari2.svg" alt="Notificări" /></a></span>
        </div>
        <div class="icon-button">
            <span class="icon"><a href="/Evenimente"><img src="/media/ja1d354d/calendar2.svg" alt="Calendar" /></a></span>
        </div>
    </div>
    <div class="container text-center">
    
            @* <h1>Ultimele stiri</h1> *@


        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 col-md-6 coloana-noutati-stanga">
                @foreach (Blogpost stire in Model.Children<Blogpost>())
                {
                    <div class="row d-none stire-@stire.Id">

                        <div class="col-12">
                            <div class="container d-flex ph-20px">
                                <h3 class="text-albastru"> @stire.Name </h3>
                            </div>
                        </div>
@*                         <div class="col-12">
                            <div class="container text-justify-interword">
                                @stire.Excerpt
                            </div>
                    </div>*@
                        <div class="col-12">
                            @if (stire.FotoStire != null)
                            {
                                <img src="@stire.FotoStire.Url()" alt="@stire.Name" class="blog-image mh-20px" />
                            }
                        </div> 
                            <div class="container text-justify-interword">
                                @await Html.GetBlockGridHtmlAsync(stire, "bodyText")
                            </div>
                        <br />
                    </div>
                }
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-4 col-md-6 coloana-noutati-dreapta">
                @foreach (Blogpost stire in Model.Children<Blogpost>())
                {
                    <div class="row stire-@stire.Id mt-42px">
                        <div class="col-4">
                            @if (stire.FotoStire != null)
                            {
                                <img src="@stire.FotoStire.Url()" alt="@stire.Name" class="blog-image" />
                            }
                        </div>
                        <div class="col-8 d-flex">
                            <div class="container text-align-start">
                                <h3 class="text-albastru col-12"> @stire.Name </h3>
                                <span class="col-12 text-justify-interword">@stire.Excerpt</span>
                                <span class="col-12">@stire.UpdateDate.ToString("dd.MM.yyyy") | @stire.UpdateDate.ToString("HH:mm")</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-1"></div>
        </div>  


    </div>

    <script>
            function AfiseazaStireaSelectata(elementApasat){
                if (elementApasat === undefined) { 
                    return;
                }
                const coloanaStanga = document.querySelector('.coloana-noutati-stanga');
                coloanaStanga.scrollTop = 0;
                const randuriStanga = coloanaStanga.querySelectorAll('.row');
                const stireAfisata = coloanaStanga.querySelectorAll('.row:not(.d-none)')[0];
                stireAfisata.classList.add('d-none');
                const identificatorStire = Array.from(elementApasat.classList).find(classname => classname.startsWith('stire-'));
                const stireDeAfisat = coloanaStanga.querySelectorAll('.row.' + identificatorStire)[0];
                stireDeAfisat.classList.remove('d-none');
            }
            window.addEventListener("load", (event) => {
                const coloanaStanga = document.querySelector('.coloana-noutati-stanga');
                const randuriStanga = coloanaStanga.querySelectorAll('.row');
                randuriStanga[0].classList.remove('d-none');
                const coloanaDreapta = document.querySelector('.coloana-noutati-dreapta');
                const randuriDreapta = coloanaDreapta.querySelectorAll('.row');
                randuriDreapta.forEach((element) => element.addEventListener('click', () => AfiseazaStireaSelectata(element)));
            });
    </script>
    

</body>
</html>
