
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Home>
@{
    Layout = "master.cshtml";
    var backgroundImage = Model.HeroBackgroundImage != null ? Model.HeroBackgroundImage.Url() : String.Empty;
}

<section class="section section--full-height background-image-full overlay overlay--dark section--content-center "
         style="background-image: url('/media/migfuqft/wall-image-home.png?rmode=max&width=500&v=1db23bc21e4a806')">
         @* style="background-image: url('media/vynio1sw/wall-homepage1.svg?rmode=max&width=500&v=1dad367f5659c79')"> *@
    <div class="ta-center" style="margin-top:10%">
        
       
        <img src="/media/ih4kqrbz/text-mare-galosfera.svg" />
        
        <br /><br /><br />
    
        <div class="ta-center" style="margin-left:20%;margin-right:20%">
            <font color="white">@Model.HeroDescription</font>
        </div>
        <br /><br />

        

        <div class="container-fluid">
            <div class="ta-center"">
                @{
                    var currentMember = await _memberManager.GetCurrentMemberAsync();
                }
                @if (currentMember is not null)
                {
                    
                }
                else
                {
                    <a href="register-login">
                        <img src="/media/eiqb5ero/login_bun.svg" style="height:200px; width:200px" />
                    </a>
                }
            </div>
        </div>

        
    </div>

    
</section>



<section class="section section--content-center">
    <div class="container">
        <h2>Ultimele știri</h2>
        <hr>
     </div>
</section>
<section class="section section">
  
    @await Html.GetBlockGridHtmlAsync(Model, "bodyText")
</section>

<section class="section section--themed">

    <div class="container">
        <div class="row">

            <div class="ta-center">
                <h2>@Model.FooterHeader</h2>
                <p class="section__description mw-640 ma-h-auto">@Model.FooterDescription</p>

                <a class="button button--border--light_solid" href="@Model.FooterCtalink.Url()">
                    @Model.FooterCtacaption
                </a>
                

            </div>

        </div>
    </div>

</section>