@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<People>
@{
    Layout = "master.cshtml";
}
@{
    void SocialLink(string content, string service)
    {
        if (!string.IsNullOrEmpty(content))
        {
            ; //semicolon needed otherwise <a> cannot be resolved
            <a class="employee-grid__item__contact-item" href="http://@(service).com/@content">@service</a>
        }
    }
}
<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<section class="w-100 d-flex justify-content-center">
    <div class="container text-center m-0 w-100">


        <div class="row w-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-3 d-flex justify-content-start align-items-end">
                        <span class="textProfilVoluntar">
                            Profil voluntar
                        </span>
                    </div>
                    <div class="col-6 coloana-noutati-stanga">
                        @foreach (Person person in Model.Children<Person>())
                        {
                            <div class="d-flex justify-content-between align-items-center mb-5">
                                <img src="@person.Photo.Url()" style="width:100px; height:100px; object-fit: cover; " class="rounded-circle" alt="Circular Image">
                                <a href="@person.Url()"> <b>@person.Name.Split()[0]</b></a><br />
                                <span>
                                    @person.Name.Split()[1]<br />
                                    @person.Email
                                </span>
                                <span class="me-5">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </span>


                            </div>
                        }
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>


    </div>
</section>
