@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<People>
@{
    Layout = "master.cshtml";
}
@{
    void SocialLink(string content, string service)
    {
        if (!string.IsNullOrEmpty(content))
        {
            ; //semicolon needed otherwise <a> cannot be resolved
            <a class="employee-grid__item__contact-item" href="http://@(service).com/@content">@service</a>
        }
    }
}
<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-style.css")" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }
</style>
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section section--full-height background-image-full overlay  section--content-center "
         style="background-image: url('/media/tkslekng/wall-profil-voluntar3.png?rmode=max&width=500&v=1db23adcef4098d')">



    <div class="container">

        <!-- todo: implement department filter -->
        <!--
        <nav class="nav-bar nav-bar--center nav-bar--air-bottom">
            <a class="nav-link nav-link--black nav-link--active" href="">All</a>
            <a class="nav-link nav-link--black" href="">Marketing</a>
            <a class="nav-link nav-link--black" href="">Package People</a>
            <a class="nav-link nav-link--black" href="">Designers</a>
            <a class="nav-link nav-link--black" href="">Other</a>
        </nav>
        -->

        
        <div class="container container-fluid text-center">
            <div class="row p-2">
               
                    @foreach (Person person in Model.Children<Person>())
                    {

                <div class="col-5 p-2 ">

                        <img src="@person.Photo.Url()" style="width:100px; height:100px; object-fit: cover; " class="rounded-circle" alt="Circular Image">
                </div>
                    <div class="col-3 p-2 ">
                        <a href="@person.Url()"> <b>@person.Name.Split()[0]</b></a><br />
                       
                        @person.Name.Split()[1]<br />
                        @person.Email<br />

                    
                </div>
                    <div class="col-4 p-2 ">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>


                    
                    </div>
                }
            </div>
        
        </div>



               

    </div>

</section>

