@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions;
@using Newtonsoft.Json;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Products>

@{
    Layout = "master.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<section class="section section--full-height background-image-full overlay  section--content-center "
         style="background-image: url('/media/1sjdebve/wall-profil-eveniment4.png?rmode=max&width=500&v=1dafdd00d589c09')">

    <div class="container">
        <div class="row position-absolute start-50">

          
            @* <div class="col-md-4">
               
                              
                    <form action="/action_page.php">
                        <div class="form-check form-switch">

                            <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                            <label class="form-check-label" for="mySwitch">Notificări portal</label>
                       
                        </div>
                    <div class="form-check form-switch">

                        <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="yes" checked>
                        <label class="form-check-label" for="mySwitch">Notificări email</label>

                    </div>
                        <button type="submit" class="btn btn-primary mt-3">Activează notificări</button>
                    </form>
                       
            </div> *@

            <div class="col-md-4 ">
               
                @* <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        
                    </div>
                    <div class="carousel-inner">
                        @if (Model.FeaturedProducts != null)
                        {
                            foreach (Product product in Model.Children<Product>())
                            {
                                <div class="carousel-item active">
                                   
                                    <img src="@product.Photos?.Url()" style="width:40%;height:40%" class="d-block w-100" alt=" @product.ProductName">
                                    
                                    <div class="carousel-caption d-none d-md-block">
                                        <a href="@product.Url()">
                                            <h5 style="background-color:black"><font color="white">@product.ProductName</font></h5>
                                        </a>
                                        
                                    </div>
                                
                                </div>
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div> *@
            </div> 

    


        </div>
    </div>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    @{
        var list = Model.Children<Product>().Select(b => new {b.LocalizareEveniment.Marker.Latitude, b.LocalizareEveniment.Marker.Longitude, b.Name, b.WebsiteEveniment}).ToList();
        
    }


    <script>
        const lista = JSON.parse('@(Html.Raw(JsonConvert.SerializeObject(list, Formatting.None)))');
        var map = L.map('map').setView([45.121, 25.3321], 7);
        
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        lista.forEach(o => L.marker([o.Latitude, o.Longitude]).bindPopup("Detalii eveniment: " + o.Name + "<a href={{o.WebsiteEveniment}}>LINK</a>").openPopup().addTo(map));
        

    </script>


</section>



