@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions;
@using Newtonsoft.Json;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Products>

@{
    Layout = "master.cshtml";
}

<head>
    <meta charset="utf-8">
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="">
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<section class="section section--full-height background-image-full overlay  section--content-center "
         @* style="background-image: url('/media/1sjdebve/wall-profil-eveniment4.png?rmode=max&width=500&v=1dafdd00d589c09')" *@>

    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

    @{
        var list = Model.Children<Product>().Select(b => new {b.LocalizareEveniment.Marker.Latitude, b.LocalizareEveniment.Marker.Longitude, b.Name, b.WebsiteEveniment}).ToList();
        
    }


    <script>
        const lista = JSON.parse('@(Html.Raw(JsonConvert.SerializeObject(list, Formatting.None)))');
        var map = L.map('map').setView([45.121, 25.3321], 8);
        let smile = String.fromCodePoint(0x27A1);
        
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        lista.forEach(o => {
            L.marker([o.Latitude, o.Longitude])
                .bindPopup(o.Name + " " + smile + " " + "<a href='" + o.WebsiteEveniment + "' target='_blank'>Detalii aici</a>")
                .openPopup()
                .addTo(map);
        });


        

    </script>
    

</section>
<div class="section--content-center">
    <div class="container text-center">
       
        <div class="container container-fluid text-center">
            <h1><strong>Listă evenimente</strong></h1><br />
        </div>

        


        @foreach (Product eveniment in Model.Children<Product>())
        {
            <div class="container">
                @eveniment.DataEveniment
            </div>

            <div class="container">
                <h3> @eveniment.Name </h3>
            </div>
            <div class="container">
                @eveniment.Description
            </div>
            <div class="container">
                <a href="@eveniment.Url()">Mai mult....</a>
            </div>
            <br />
        }

    </div>

</div>


