@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible()); 
    var currentMember = await _memberManager.GetCurrentMemberAsync();
    string culoareText = ("Noutăți,Evenimente,Pagina de stiri,Fii voluntar!,Voluntar în România,Logare,Termene si conditii,Politica de confidentialitate si GDPR,Eroor page,Contact".Contains(Model.Name) ? "text-negru" : "text-alb");
    const string hrefLogoAlb = "/media/nahmze0n/galosfera-logo.svg";
    const string hrefLogoNegru = "/media/wwin4eeq/galosfera-logo-negru.svg";
    const string hrefLogoStiri = "/media/altlysil/galosfera-logo-stiri.svg";
    const string hrefLogoEvenimente = "/media/0ufmca1o/logo-evenimente.svg";
    const string hrefLogoRSS = "/media/od3dmbfs/rss-logo.svg";
    const string hrefLogoAlbastru = "/media/ertboifj/logo-albastru.svg";
}
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
@if (Model.Name == "Noutăți")
{
    <img src="@hrefLogoStiri" style="height:180px; width:180px" />
}
else if (Model.Name == "Evenimente")
{
    <img src="@hrefLogoEvenimente" style="height:180px; width:180px" />
}
else if (Model.Name == "Pagina de stiri")
{
    <img src="@hrefLogoRSS" style="height:180px; width:180px" />
}
else if (Model.Name == "Fii voluntar!")
{
    <img src="@hrefLogoAlbastru" style="height:180px; width:180px" />
}
else if ("Contact,Voluntar în România,Biblioteca,Termene si conditii,Politica de confidentialitate si GDPR".Contains(Model.Name))
{
    <img src="@hrefLogoNegru" style="height:180px; width:180px; visibility:hidden;" />
}
else if ("Eroor page".Contains(Model.Name))
{
    <img src="@hrefLogoNegru" style="height:180px; width:180px;" />
}
else
{
    <img src="@hrefLogoAlb" style="height:180px; width:180px" />
}

@* <a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@site.Url()"><font color="black !important">@site.Name</font></a> *@
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

@if (currentMember is not null)
{
    foreach (var item in selection)
    {
        if (!"Doneaza!,Pagina de stiri,Noutăți,Evenimente,Termene si conditii,Politica de confidentialitate si GDPR".Contains(item.Name))@*  && item.Name != "GALURI" && item.Name != "Fii voluntar!" *@
        {
            <a class="@(culoareText) nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url()">@item.Name</a>
        }
    }



    @* <img src="~/media/gw5lsq4a/iconita_profil.svg" style="width:30px; height:30px"> *@
}
else
{
    foreach (var item in selection)
    {
        if (!"Doneaza!,Pagina de stiri,Noutăți,Evenimente,Termene si conditii,Politica de confidentialitate si GDPR".Contains(item.Name))@*  && item.Name != "GALURI" && item.Name != "Fii voluntar!" *@
        {
            <a class="@(culoareText) nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url()">@item.Name</a>
        }
    }



    @* <img src="~/media/gw5lsq4a/iconita_profil.svg" style="width:30px; height:30px"> *@
}

@* <img src="~/media/mwanpbnk/avatar-icon.svg" style="width:50px; height:50px"> *@