@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Security;
@inject IMemberManager _memberManager;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.IsVisible());
    var currentMember = await _memberManager.GetCurrentMemberAsync();
    string numePaginaSauPaginaParinte = Model.Name;
    if (Model.ContentType.Alias == "person" || Model.ContentType.Alias == "contentPage")
    {
        numePaginaSauPaginaParinte = Model.ContentType.Alias;
    }
    string culoareText = ("Noutăți,Evenimente,Pagina de stiri,Fii voluntar!,Voluntar în România,Logare,Termene si conditii,Politica de confidentialitate si GDPR,Eroor page,Contact,person,GALURI,contentPage,Chatbot,Contractori,Formatori".Contains(numePaginaSauPaginaParinte) ? "text-negru" : "text-alb");
    const string hrefLogoAlb = "/media/nahmze0n/galosfera-logo.svg";
    const string hrefLogoNegru = "/media/wwin4eeq/galosfera-logo-negru.svg";
    const string hrefLogoStiri = "/media/altlysil/galosfera-logo-stiri.svg";
    const string hrefLogoEvenimente = "/media/0ufmca1o/logo-evenimente.svg";
    const string hrefLogoRSS = "/media/od3dmbfs/rss-logo.svg";
    const string hrefLogoAlbastru = "/media/ertboifj/logo-albastru.svg";
}
<div class="d-flex align-items-center">
    <img src="/media/levovae2/logouri-sus-trei.png" alt="Uniunea Europeană și Guvernul României, Galosfera" style="height:auto; width:280px" />
@* <div class="logouriMinister"><img src="/media/alclqp1w/logouri-sus-doua.png" alt="Uniunea Europeană și Guvernul României" /></div> *@
<!-- comment out the following line if you want to remove the root node name from the top navigation -->
@* @if (numePaginaSauPaginaParinte == "Noutăți")
{
    <a href="../">
        <img src="@hrefLogoStiri" style="height:180px; width:180px" />
    </a>
}
else if (numePaginaSauPaginaParinte == "Evenimente")
{
    <a href="../">
        <img src="@hrefLogoEvenimente" style="height:180px; width:180px" />
    </a>
}
else if (numePaginaSauPaginaParinte == "Pagina de stiri")
{
    <a href="../">
        <img src="@hrefLogoRSS" style="height:180px; width:180px" />
    </a>
}
else if (numePaginaSauPaginaParinte == "Fii voluntar!")
{
    <a href="../">
        <img src="@hrefLogoAlbastru" style="height:180px; width:180px" />
    </a>
}
else if ("Contact,Voluntar în România,Biblioteca,Termene si conditii,Politica de confidentialitate si GDPR,person,Home".Contains(numePaginaSauPaginaParinte))
{
    <a href="../" style=" visibility:hidden;">
        <img src="@hrefLogoNegru" style="height:180px; width:180px;" />
    </a>
}
else if ("contentPage".Contains(numePaginaSauPaginaParinte))
{
    <a href="../">
        <img src="@hrefLogoNegru" style="height:180px; width:180px;" />
    </a>
}
else
{
    <a href="../">
        <img src="@hrefLogoAlb" style="height:180px; width:180px" />
    </a>
} *@

@* <a class="nav-link @Html.Raw(Model.Id == site.Id ? "navi-link--active" : "")" href="@site.Url()"><font color="black !important">@site.Name</font></a> *@
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <a class="@(culoareText) nav-link" href="#" onclick="catrePaginaPrincipala()">Acasă</a>
@if (currentMember is not null)
{
    foreach (var item in selection)
    {
            if (!"Doneaza!,Pagina de stiri,Noutăți,Evenimente,Termene si conditii,Politica de confidentialitate si GDPR,Logare,Chatbot, Contractori, Formatori, Membrii asociatie, Membrii asociatie peroane juridice".Contains(item.Name))@*  && item.Name != "GALURI" && item.Name != "Fii voluntar!" *@
        {
            <a class="@(culoareText) nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url()">@item.Name</a>
        }
    }



    @* <img src="~/media/gw5lsq4a/iconita_profil.svg" style="width:30px; height:30px"> *@
}
else
{
    foreach (var item in selection)
    {
        if (!"Doneaza!,Pagina de stiri,Noutăți,Evenimente,Termene si conditii,Politica de confidentialitate si GDPR, Logare, Chatbot, Contractori, Formatori, Membrii asociatie, Membrii asociatie peroane juridice".Contains(item.Name))@*  && item.Name != "GALURI" && item.Name != "Fii voluntar!" *@
        {
            <a class="@(culoareText) nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url()">@item.Name</a>
        }
    }



    @* <img src="~/media/gw5lsq4a/iconita_profil.svg" style="width:30px; height:30px"> *@
}
</div>

@* <img src="~/media/mwanpbnk/avatar-icon.svg" style="width:50px; height:50px"> *@